

<div class="form">
  <%= form_for(@user) do |f| %>

    <div class="signup" >
      <%= f.label :name, :class =>"cust-label"%>
      <%= f.text_field :name, :class =>"cust-box", :class =>"form-control" %>
    </div>

    <div class="signup" >
      <%= f.label :email, :class =>"cust-label" %>
      <%= f.email_field :email, :class =>"cust-box", :class =>"form-control"%>
    </div>

    <div class="signup" >
      <%= f.label :password, :class =>"cust-label" %>
      <%= f.password_field :password, :class =>"cust-box", :class =>"form-control"%>
    </div>

    <div class="signup" >
      <%= f.label :confirmation, :class =>"cust-label"%>
      <%= f.password_field :password_confirmation, :class =>"cust-box", :class =>"form-control" %>
    </div>
</div>

    <div >
      <%= f.submit "Sign Up", class: "create-account", class: "sign-up-submit"%>
    </div>

  <% end %>
