<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

  </head>
    <body id="sign-up-back" >
      <%= image_tag("logo.jpg", :alt => "GoWithMe logo", :id => "logo") %>

  <!-- Sign in with Facebook -->
      <div id="user-widget">
        <div id= "fb-sign">
        <% if current_user %>
          Welcome <strong><%= current_user.name %></strong>!
        <%= link_to "/ Sign out", signout_path, id: "sign_out", :class => "fb-sign-out"%>
        </div>
        <% else %>
      <div id="fb-btn">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <span id="fb-text">
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        </span>
      </div>
        <% end %>
      </div>
  <!-- Sign in with Facebook -->


    <%= link_to signup_path do %>
      <div id="signup-btn-new">
        <p id="signup-text">
          Sign up
        </p>
      </div>
    <% end %>

    <%= link_to login_index_path do %>
      <div id="login-btn-new">
        <p id="login-text">
          Log in
        </p>
      </div>
    <% end %>

    </body>
  </html>
