<link href="https://fonts.googleapis.com/css?family=BioRhyme" rel="stylesheet">

<div id="nav-div">
  <span id="nav-text">
    Go With Me
  </span>
</div>

<div id="search" class="input-group">
<span class="input-group-btn">
<%= form_tag(events_path, :method => "get", id: "search-form", ) do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Events", :class => "form-control"%>
    <%= submit_tag "Search", :name => nil, :class => "btn-default", :id => "search-btn" %>
<% end %>
</span>
</div>

<div id="spacer">

</div>

<div id="event-info">

<img class= "event-logo"><%= image_tag @event.logo %></img>

<div id="event-info-content event_name">
<div id="event-info-text">
  <h1><%= @event.name %></h1>
  <p><%= @event.description  %></p>
  <p>Location: <%= @event.tz %></p>
  <p>Start time: <%= @event.start %></p>
  <p>End time: <%= @event.end %></p>
</div> <!-- event info text -->
<!-- COMMENT SECTION BELOW -->
<!-- ********************* -->
<div id="comment-section">

    <h2 id="center-add">Add a comment:</h2>
  <%= form_for([@event, @event.comments.build]) do |f| %>
  <span id="commenter">

  </span>
  <p id="comment-body">
    <%= f.text_area :body, id: "comm-body" %>
  </p>
  <p>
    <%= f.submit 'Create a comment', :id => "lg-btn"%>
  </p>
<% end %>

    <h2 id="center-add">Comments:</h2>

    <div id="scrollable-content">

    <% @event.comments.each do |comment| %>
      <p>
          <strong><%= comment.user ? comment.user.name : nil %> </strong>
        <%= comment.body %>
        </p>

    <% end %>

    </div>

</div>

</div>

<%= link_to 'Back', events_path, :id => "back-btn" %>
<!-- <%= link_to 'Attend', event_info_path %> -->

</center>
