

<!-- <div id="search" class="input-group">
<span class="input-group-btn">
<%= form_tag(events_path, :method => "get", id: "search-form", ) do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Events", :class => "form-control"%>
    <%= submit_tag "Search", :name => nil, :class => "btn-default", :id => "search-btn" %>
<% end %>
</span>
</div> -->

<div id="event-info-modal">

<%= image_tag @event.logo %>
  <p id="event-name"><%= @event.name %></p>
  <p id="event-info-desc"><%= @event.description %></p>
    <p class="deets" >Location: <%= @event.tz %></p>
    <p class="deets" >Start time: <%= @event.start %></p>
    <p class="deets" >End time: <%= @event.end %></p>




  <!-- COMMENT SECTION BELOW -->

<div id="whole-comment-section">

  <p id="comment-head">Add your comment:</p>
    <%= form_for([@event, @event.comments.build]) do |f| %>
      <span id="commenter"></span>
        <p id="comment-body"><%= f.text_area :body, id: "comm-body" %></p>
        <p><%= f.submit 'Create a comment', :id => "comm-btn"%></p>
    <% end %>

  <p id="comment-head">Comments:</p>

  <div id="comment-section">
    <div id="comment-box">
      <% @event.comments.each do |comment| %>
        <div id = "comm-user"><%= comment.user ? comment.user.name  : nil %></div>
        <div id = "comm-user-body"><%= comment.body %></div>
    </div><!--comment-box-->
      <div id="back-btn"><%= link_to events_path do %>Back<% end %></div>
    <% end %>




  </div><!--comment-section-->

</div><!--whole-comment-section-->

</div><!--event-info-modal-->
