<div id="event-info">

<img class= "event-logo"><%= image_tag @event.logo %></img>

<div id="event-info-content event_name">
<center>
<h1><%= @event.name %></h1>
<p><%= @event.description  %></p>
<p><%= @event.tz %></p>
<p><%= @event.start %></p>
<p><%= @event.end %></p>

<!-- COMMENT SECTION BELOW -->
<!-- ********************* -->

<div id="comment-section">

<h2>Comments</h2>

<div id="scrollable-content">

<% @event.comments.each do |comment| %>
  <p>
    <%= link_to 'Edit', edit_event_comment_path(@event) %>
    <%= link_to 'Delete', comments_destroy_path :comment %>
    <strong><%= comment.commenter %>: </strong>
    <%= comment.body %>
    </p>

<% end %>

</div>

<div id="add-comment-footer">
<h2>Add a comment:</h2>
<%= form_for([@event, @event.comments.build]) do |f| %>
  <p id="commenter">
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p id="comment-body">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

</div>

<%= link_to 'Back', root_path %>

</center>

</div>

</div>

</div>
