<link href="https://fonts.googleapis.com/css?family=BioRhyme" rel="stylesheet">


<%= form_tag(root_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Events" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<% @events.each do |event| %>
<div id="event">
  <%= link_to image_tag(event.logo), event_info_path(event), :id => "event_pic" %>
  <div id="event_name_wrapper">
    <div id="event_name"><%= event.name %></div>
  </div>
</div>
<% end %>

<% if @events.blank? %>
  <div id="error-back">
    <div id="error-content">
      <h4>There are no events containing the term <%= params[:search] %>.</h4>
    </div>
  </div>
<% end %>
