<div class="log-in">
  <div class="log-form">
    <%= form_for(@user) do |f| %>
      <div class="log-in-email">
        <%= f.label :email %>
        <%= f.email_field :email, :class =>"cust-box", :class =>"form-control" %>
      </div>

      <div class="log-in-password">
        <%= f.label :password %>
        <%= f.password_field :password, :class =>"cust-box", :class =>"form-control" %>
      </div>
  </div>

      <div class="log-in-button">
        <%= f.submit "Submit", class: "button-log-in", class: "log-in-submit"%>
      </div>

    <% end %>
</div>
