<p>
<% @response['events'].each do |event| %>
<%= event['name']['text'] %> <br>
<%= event['description']['text']%> <br>
<%= event['start']['timezone']%> <br>
<%= Time.iso8601(event['start']['utc']).to_s %> <br>
<%= event['end']['timezone']%> <br>
<%= Time.iso8601(event['end']['utc']).to_s%> <br>
<%= image_tag event['logo']['url'] %> <br>
<% end %>
</p>
